html {
    box-sizing: border-box;
    font-size:14px ;
}


body {
    background: #f6f6f6;
    font-family: -apple-system,Helvetica,sans-serif;
    line-height: 1.5;
    color: #666;
    padding-bottom: 5rem;
}

.menu_title {   
    width: 120%;
    text-align: center;
    font-size: .7rem ;
    margin-top: .2rem;
}

.container {
    width: 96%;
    margin: auto;
}

.miao_sha_header {
    background: #FFF;
    color: #000;
    margin-top: .4rem;
    padding-left: .5rem;
    font-size: .8rem;
    height: 2rem;
    line-height: 2rem;
}

.miao_sha_price {
    margin-top: .2rem;
    font-size: .1rem;
    color: red;
    font-weight: bold;
}

.product_list {
    margin-top: .4rem;
}

.product_name {
    text-align: left;
    width: 100%;
    margin: .4rem auto;
}

.product_price {
    text-align: left;
    width: 100%;
    color: red;
}

.product_price .price {
    font-size: 1.2rem ;
    font-weight: bold;
}

